*,
*::before,
*::after {
    box-sizing: inherit;
    margin:0px;
    padding:0px;
}

html {
    font-size:63.5%;

    @include respond(tab-land) {
        font-size: 56.25%;
    }
    
    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(big-desk) {
        font-size: 75%;
    }

}

body {
    box-sizing: border-box;
    
}

.container {
    max-width:114rem;
    height:100%;
    position:relative;
    margin:0 auto;

    @include respond (big-desk) {
        max-width:80%;
    }
}