body {
    font-size:1.7rem;
    color:$color-blue-two;
    font-family: 'Cutive Mono', monospace;
    word-spacing: -2px;
    letter-spacing: -1px;
    background-color:$color-cream;
}
a {
    text-decoration: none;
    color:inherit;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

h1 {
    font-size: 6.3968rem;
}

h2 {
    font-size: 4.5232rem;
}

h3 {
    font-size:2.2624rem;
}

ul {
    list-style: none;
}

.section-title {
    text-align: center;
    font-size:3rem;
    &--light{
        color:$color-cream;
    }

    &--dark {
        color:$color-main-blue;
    }
}