$color-cream:#F2E4C7;
$color-black:#000000;
$color-main-blue:#3D585A;

$color-blue-one:#1E2F30;
$color-blue-two:#314C4E;
$color-blue-grey-one:#5A8487;
$dark-red:rgb(59, 19, 19);


$color-book-bg:#2D2525;
$color-stamp-text:#A47272;
$color-stamp-outline:#E09B9B;

$instagram:#cd486b;
$github:#6e5494;
$linkedin:#0077b5;
$behance:#1769ff;
$twitter:#1da1f2;
$dribbble:#ff8833;


$color-wcid-icon-bg:#FFE99D;
$color-wcid-icon-one:#E06565;


$color-deg-one:linear-gradient(127deg, rgba($color-main-blue,1) 0%, rgba(242,228,199,1) 100%);

$shadow: 0px 7px 35px -9px rgba($color-black,0.75);

@mixin clearfix {
    &::after{
        content:"";
        display:table;
        clear:both;
    }
}


@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media( max-width:37.5em) { @content }
    }
    @if $breakpoint == tab-port {
        @media( max-width: 56.25em) { @content }
    }
    @if $breakpoint == tab-land {
        @media( max-width: 75em) { @content }
    }
    @if $breakpoint == big-desk {
        @media( min-width: 112.5em) { @content }
    }
}

@keyframes writing {
    from { width: 0 }
    to { width: 65rem }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: $color-blue-two }
}

@keyframes wcidSvg {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset:0;
    }
}