.button {
    display: inline-block;
    color:$color-stamp-text;
    text-transform: uppercase;
    border:.4rem $color-stamp-outline solid;
    transition:all .5s;
    border-radius: 1rem;
    padding:1rem;

    &--small {
        font-size: 1.8rem;
    }

    &--big {
        font-size: 2.5rem;
    }


    &:hover {
        background-color:$color-blue-two;
        border-color: $color-blue-grey-one;
        color:#fff;
    }
}


