.detail {

    width:6rem;
    position:absolute;
    transform-origin: center;

    &,
    &::before {
        height:2px;
        background-color:$color-main-blue;
        display:inline-block;
    }


    &::before {
        content:"";
        width: 3rem;
        top:-1.4rem;
        left:50%;
        transform:translateX(-50%);
        position:absolute;

    }

    &--home {
        &-one {
            top:12%;
            left:0;
            transform: rotate(-50deg);

            @include respond(tab-port) {
                top:6%;
            }

        }
        &-two {
            bottom:0;
            right:0;
            transform: rotate(125deg);
        }
    }

    &--about {
        &-one {
            transform: rotate(-50deg);
            top:8%;
            left:2%;
        }
        &-two {
            transform: rotate(125deg);
            bottom: 8%;
            right:2%;
        }
    }

    &--wcid,
    &--wcid::before{
        background-color:$color-cream;

        @include respond(phone){
            display:none;
        }

    }

    &--wcid {
        top:50%;

        &-one {
            left:0;
            transform: rotate(271deg) translateY(-50%);
        }

        &-two {
            right:0;
            transform: rotate(91deg) translateY(-50%);
        }
    }

}