.more-work {
    position:relative;
    width:15rem;
    margin:3rem auto 7rem auto;
   

    &__link {
        display:block;

        & > * {
            display:block;
        }
        
    }

    &__link:hover &__text {
        color:$dribbble-two;
    }

    &__link:hover &__dribbble {
        fill:$dribbble-two;
    }

    &__text,
    &__dribbble {
        transition:all .5s;
    }

    &__text {
        font-size: 2.3rem;
    }
    &__dribbble {
        fill:$color-main-blue;
        width:15rem;
        
    }

    @include respond(phone){
        margin-top:6rem;
        margin-bottom:1rem;
    }
}