.navigation {


    color:$color-cream;

    &__checkbox {
        display:none;
    }

    &__button,
    &__background {
        right:calc((100% - 114rem) / 2) ;
        box-shadow:$shadow;
        position:fixed;


        @include respond(tab-land) {
            right:7%;
        }

        @include respond(tab-port) {
            right:3%;
        }

    }

    &__button {
        width:6rem;
        height:6rem;
        top:6.5%;
        transform: skewY(6deg);
        background-color:$color-main-blue;
        transition: all .3s;
        z-index:2000;
        cursor:pointer;

        & > * {
            left:50%;
            transform: skewY(-6deg) translateX(-50%);
        }

        @include respond(tab-port) {
            top:3%;
        }
    }

    &__background {
        top:6.6%;
        width:3rem;
        height: 3rem;
        background-color:$color-main-blue;
        transition:height .3s cubic-bezier(.5,.14,.51,.45), width .2s cubic-bezier(.5,.14,.51,.45) .3s;
        //transition:transform 1.5s ease-in-out;
        //will-change: transform;
        z-index:1000;

        @include respond(tab-port) {
            top:3%;
        }

    }

    &__menu {
        width:0;
        height:100vh;
        opacity:0;
        position:fixed;
        top:0;
        left:0;
        z-index:1500;
        transition:all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        list-style:none;
        text-align:center;
        width:100%;
    }

    &__menu-item {
        
        &:not(:last-child){
            margin-bottom:3rem;
        }

        &:hover .navigation__link::after {
            background-color:$color-cream;
            width:100%;
        }
    }

    &__link {
        font-size:3.5rem;
        display:inline-block;
        

        &::after{
            content:"";
            display:block;
            width:0;
            background-color:$color-blue-one;
            height:2px;
            transition:all .5s ease-in-out;
            
        }

        
    }

    &__icon,
    &__title {
        position:absolute;
    }

    &__icon {
        top:2rem;


        &,
        &::before,
        &::after {
            background-color:$color-cream;
            display: inline-block;
            height:.3rem;
            width:2.5rem;

        }

        &::before,
        &::after {
            content:"";
            position:absolute;
            left:0;
            transition:all .2s;

        }

        &::before {
            top:-.8rem;
        }

        &::after {
            top :.8rem;
        }
    }

    &__title {
        font-size: 1.2rem;
        bottom:.8rem;
    }


    &__checkbox:checked ~ &__background {
        width:114rem;
        height:calc(100vh - 12%);

        //transform:scale(30);
       // transform-origin: 100% 0%;

        
        

        @include respond(tab-land) {
            width:94%;
            height:calc(100vh - 6%);
        }
    }

    &__checkbox:checked ~ &__button {
        background-color:$color-wcid-icon-one;
        transform: skewY(0deg);

        & > * {
            transform: skewY(0deg) translateX(-50%);
        }
    }

    &__checkbox:checked + &__button &__icon {
        background-color:transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top:0;
        transform: rotate(135deg);
    }
    
    &__checkbox:checked + &__button &__icon::after {
        top:0;
        transform: rotate(-135deg);
    }

    &__checkbox:checked ~ &__menu {
        opacity:1;
        width:100%;
    }


}