.photos {

    @include clearfix;


    &__photo {
        width:calc((100% - 3 * 4rem) / 4);
        height:30rem;
        position:relative;
        float:left;
        margin-bottom:4rem;
        perspective: 150rem;
        //cursor: pointer;
        
        &:not(:nth-of-type(4n)){
            margin-right:4rem;
        }


        &--front,
        &--back {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            padding:2rem;
            text-align:center;
            background-color:$color-cream;
            transition:all .8s ease;
            box-shadow: $shadow;
            backface-visibility:hidden;
        }

        &--front {
            
        }

        &--back {
            transform: rotateY(180deg);
        }

        &:hover &--front {
            transform:rotateY(-180deg);
            
        }
    
        &:hover &--back {
            transform:rotateY(0deg);
            
        }
     
    }

    &__image {
        height:80%;
        background-color: black;
    }


    &__items {
        text-align: left;
        list-style-type: disc; 
        list-style-position: inside;
        
    }

    &__item {
        &:not(:last-child){
            margin-bottom: .5rem;
        }
    }



    @include respond(tab-land){
        width:85%;
        margin:0 auto;


        &__photo {
            width:calc((100% - 3 * 4rem) / 3);
            height:34rem;

            &:nth-of-type(4n){
                margin-right:4rem;
            }

            &:nth-of-type(3n){
                margin-right:0;
            }

            
        }
    }

    @include respond(tab-port){

        &__photo {
            width:25rem;
            border:1px black solid;
            height:29rem;
            
            &:not(:nth-of-type(4n)),
            &:nth-of-type(4n){
                margin-right:calc((100% - 75rem) / 2);
            }
    
            &:nth-of-type(3n){
                margin-right:0;
            }
        }


    }

    @include respond(phone){
        &__photo {
            height:35rem;
            border: none;
            &:not(:nth-of-type(3n)),
            &:nth-of-type(3n){
                margin-right:auto;
                margin-left:auto;
            }

            width:75%;
            float:none;

        }
    }

    
}