.social {

    &--home {
        position: absolute;
        bottom:12%;
        left:0;

        
    }




    &__li:not(:last-of-type){
        margin-bottom:2rem;
    }
    &__icon {
        fill:$color-main-blue;
        width:2rem;
        height:2rem;
        transition: all .2s;

        &--instagram:hover {
            fill:$instagram;
        }

        &--github:hover {
            fill:$github;
        }

        &--linkedin:hover {
            fill:$linkedin;
        }

        &--behance:hover {
            fill:$behance;
        }

        &--twitter:hover {
            fill:$twitter;
        }
    }


    &--footer {
        width:24rem;
        margin:2.5rem auto;

        & .social__li {
            margin-bottom:0;
            display:inline-block;
        }
        & .social__li:not(:last-of-type){

            margin-right:2rem;
        }
    }

    @include respond(tab-land) {

        width:24rem;

        &__li {
            margin-bottom:0;
            display:inline-block;
        }
        &__li:not(:last-of-type){

            margin-right:2rem;
        }

        &--home {
            left:50%;
            transform:translateX(-50%);
            bottom:5%;
        }
            
    }
}