.title-box{
    width:100%;
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    @include respond(tab-port) {
        width:80%;
    }

    &__char {
        height:8rem;
        margin-bottom:4rem;
    }

    &__title {
        font-size:4.5232rem;
        margin-bottom:2rem;

        @include respond(phone){
            margin-bottom:4rem;
        }
    }

    &__subtitle {
        max-width:65rem;
        font-size:3rem;
        color:$color-blue-grey-one;
        letter-spacing: -2px;
        margin:0 auto;
        box-decoration-break: clone;
        white-space: nowrap;
        overflow: hidden;
        border-right: .2rem solid  $color-blue-grey-one;
        animation: 
        writing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;

        @include respond(phone) {
            animation:none;
            white-space: initial;
            border-right:none;
        }
    }
}