.title-box{
    width:100%;
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);


    &__char {
        height:8rem;
        margin-bottom:4rem;
    }

    &__title {
        font-size:4.5232rem;
        margin-bottom:2rem;
    }

    &__subtitle {
        font-size:3rem;
        color:$color-blue-grey-one;
        letter-spacing: -2px;
    }
}